; {{ ansible_managed }}
$TTL 3600
$ORIGIN {{ rev_domain }}.
11.168.192.in-addr.arpa.  IN      SOA      server.{{ domain }}. root.{{ domain }}. (
                            {{ serial }} ; serial
                            3600       ; refresh (1 hour)
                            600        ; retry (10 minutes)
                            86400      ; expire (1 day)
                            600        ; minimum (10 minutes)
                        )

                IN      NS      server.{{ domain }}.

; DNS Servers
{% for item in all_servers  %}
{{ hostvars[item]['ansible_eth1']['ipv4']['address']|regex_replace('192.168.11.') }}          IN      PTR       {{ hostvars[item]['inventory_hostname'] }}.{{ domain }}.
{% endfor %}

; {{ ansible_managed }} off
