options {
    // network
        listen-on { {{ ansible_eth1.ipv4.address }} ; 127.0.0.1; };
        listen-on-v6 { none; };
        allow-query {192.168.11.0/24; localhost;};
        allow-transfer { none; };
        allow-recursion {192.168.11.0/24; localhost;};
        dnssec-enable yes;


    // data
        directory       "/var/named";
        dump-file 	"/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";

    // forward
        forwarders { 8.8.8.8; };
};

zone "otushw.ru" {
            type master;
            file "/etc/named/db.{{ domain }}";
};

zone "11.168.192.in-addr.arpa" {
            type master;
            file "/etc/named/db.rev_{{ domain }}";
};