options {
    // network
        listen-on port 53 { '{{ ansible_eth1.ipv4.address }}'; 127.0.0.1; };
        listen-on-v6 { none; };
        allow-query {192.168.11.0/24; localhost;};
        recursion no;
        dnssec-enable yes;
        dnssec-validation yes;


    // data
        directory       "/var/named";
        dump-file 	"/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";

    // servers
        forwarders {
            8.8.8.8;
            8.8.4.4;
        };
};

zone "otus-homework.ru" {
            type master;
            file "/etc/named/db.otushw.ru";
            allow-transfer { 127.0.0.1; };
};

zone "11.168.192.in-addr.arpa" {
            type master;
            file "/etc/named/db.rev_otushw.ru";
            allow-transfer { 127.0.0.1; };
};