[mysqld]
server-id=1
user=mysql
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
skip-host-cache
skip-name-resolve
binlog-checksum=None
gtid-mode=on
enforce-gtid-consistency=on
log_bin
log_slave_updates=on
master_info_repository=TABLE
relay_log_info_repository=TABLE